<h1>Do Login first to access your docs</h1>
<form action="/user/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required="true">
    <label for="password">Password:</label>
    <input type="password" name="password" required="true">

    <button type="submit">Login</button>
</form>
